
extends ../../public/templates/base.jade

block title
  title #{recipe.name}
  
block content
  h3 #{recipe.name}
  p
    a(href="/recipes/delete/#{recipe.name}") Delete
    
  form(action="/recipes/#{recipe.name}" method="POST")
    p
      label Recipe Name
      input(type="text" id="name" name="name" value="#{recipe.name}")
    p
      label Time to Prepare
      input(type="text" id="prepTime" name="prepTime" value="#{recipe.prepTime}")
    p
      label Serving Size
      input(type="text" id="servingSize" name="servingSize" value="#{recipe.servingSize}")

    button Update Recipe
